@import "../variables/variables";


/*
#titulo{
    width: 100%;
    background-color: white;
    text-align: center;
}

#grilla{
    display: grid;
    height: 900px;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 25% 25% 25%;
    background-color: $color_botones;
    grid-template-areas: 
    "a1 a2 a3"
    "a5 a6 a7"
    "a8 a9 a4";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    #hijo_uno{
        color: white;
        text-align: center;
        background-color: black;
        grid-area: a1;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    #hijo_dos{
        text-align: center;
        background-color: blueviolet;
        grid-area: a2;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    .hijo_tres{
        text-align: center;
        background-color: blueviolet;
        grid-area: a3;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    .hijo_cuatro{
        text-align: center;
        background-color: blueviolet;
        grid-area: a7;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    .hijo_cinco{
        text-align: center;
        background-color: blueviolet;
        grid-area: a5;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    .hijo_seis{
        text-align: center;
        background-color: blueviolet;
        grid-area: a6;
        width: 80%;
        height: 80%;
        border: 1px solid black;
    }

    img{
        width: 100%;
        height: 100%;
    }




}*/
@media  (min-width: 560px) {
    
#titulo{
    text-align: center;
}
#body__cards{
    display: grid;
    background: #000;
    grid-template-columns: 
         repeat(3, 370px);
    justify-content: center;
    align-items: center;
    height: 90vh;    
    
    .card{
        width: 321px;
        height: 270px;
        position: relative;
        justify-self: center;
        border: 1px solid #85858554;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        transition: border 0.2s ease;

        img{
            max-height: 100%;
            min-width: 100%;
            object-fit:contain;
            transition: transform 0.2s ease;
        }
    }

    .card:hover{
        transform: scale(1.1);
    }

}


}