#nosotros__carousel{
  margin: 0;
  padding-bottom: 600px;
  background: #2A2734;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}

#container__carousel{
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 100s infinite forwards linear;
}

.image{
  position: absolute;
  width: 300px;
  height: 259px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

span{
  margin: auto;
  font-size: 2rem;
}

@keyframes rotate360 {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(-360deg);
  }
}

.image:nth-child(1){
  background-image: url(/nuevo_repo/img/somos\ masterauto.jpg);
  transform: rotateY(0deg) translateZ(430px);
}

.image:nth-child(2){
  background-image: url(/nuevo_repo/img/autos\ consigna.jpg);
  transform: rotateY(40deg) translateZ(430px);
}

.image:nth-child(3){
  background-image: url(/nuevo_repo/img/venta\ de\ autofrr.jpg);
  transform: rotateY(80deg) translateZ(430px);
}

.image:nth-child(4){
  background-image: url(/nuevo_repo/img/hablanos.jpg);
  transform: rotateY(120deg) translateZ(430px);
}

.image:nth-child(5){
  background-image: url(/nuevo_repo/img/Classic-Red-Sports\ porsche-Car.jpg);
  transform: rotateY(160deg) translateZ(430px);
}

.image:nth-child(6){
  background-image: url(/nuevo_repo/img/venta1.jpg);
  transform: rotateY(200deg) translateZ(430px);
}

.image:nth-child(7){
  background-image: url(/nuevo_repo/img/venta3.jpg);
  transform: rotateY(240deg) translateZ(430px);
}

.image:nth-child(8){
  background-image: url(/nuevo_repo/img/venta6.jpg);
  transform: rotateY(280deg) translateZ(430px);
}

.image:nth-child(9){
  background-image: url(/nuevo_repo/img/venta4.jpg);
  transform: rotateY(320deg) translateZ(430px);
}

@media (max-width: 660px) {
  #container__carousel{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 300px;
    }
}